<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://ramadhankukuh.my.id" target="_blank"
    >
      Kukuh
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://wa.me/6281548716351" target="_blank"
    >
      WhatsApp Bot AI
    </a>
  </p>
</footer>
